<!-- <div class="navbar fixed-top navbar-expand-lg"> -->
<app-header1></app-header1>
<!-- </div> -->

<section class="contact-us container">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <h2>
        <a (click)="homePage()"
          ><i class="fa fa-arrow-left" aria-hidden="true"></i> Contact Us</a
        >
      </h2>
      <div class="contact-info">
        <p class="text-primary1">
          <i class="fa fa-envelope m-2" aria-hidden="true"></i> Email Us: 
          <a class="m-lg-5 tx1 text-secondary1" href="mailto:sarita@bayslo.com">sarita&commat;bayslope.com</a>
        </p>
        <p>
          <span class="text-primary1"
            ><i class="fa fa-phone m-2" aria-hidden="true"></i>Call Us:</span
          ><strong class="tx1 text-secondary1" style="margin-left: 10%"
            >+91-9811967160 (IN)</strong
          ><br />
          <strong class="tx2 text-secondary1" style="margin-left: 27%"
            >+1 650 353 7723 (US)</strong
          ><br />
          <strong class="tx2 text-secondary1" style="margin-left: 27%"
            >+44 1392 58 1535 (UK)</strong
          >
        </p>
        <span class="text-primary1"
          ><i class="fa-solid fa-house-laptop m-1 my-4"></i> India Office:</span
        >
        <span class="text-black m-4">India Office</span>
        <p class="tx2 text-secondary1" style="margin-left: 27%">
          Level 10, United Cyber Park, Tower B,<br />Sector-38, Gurgaon-122003, Haryana
        </p>
      </div>
      <div id="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3508.1995269225886!2d77.0525490749498!3d28.443401092645203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d185e31fb655d%3A0x46210ab1ece5b96e!2sBayslope!5e0!3m2!1sen!2sin!4v1741279220377!5m2!1sen!2sin"
          width="600"
          height="260"
          style="border: solid purple 2px; border-radius: 20px;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <a href="https://www.google.com/maps" target="_blank" class="map-link">
          <img src="companyLogo.png" alt="Map Link" class="map-image" />
        </a>
      </div>
    </div>

    <div class="col-lg-6 col-md-12">
      <form class="contact-form">
        <h4 class="text-primary1" style="font-size: 32px; color: #6600FF;">
          <strong>Get in touch</strong>
        </h4>
        <h6 class="text-primary1" style="color: #1E3932;">You can reach us anytime</h6>
        <input type="text" id="first-name" name="first-name" placeholder="First Name" required />
        <input type="text" id="last-name" name="last-name" placeholder="Last Name" required />
        <input type="email" id="email" name="email" placeholder="Your Email" required />
        <input type="tel" id="phone" name="phone" placeholder="Phone Number" />
        <textarea id="message" name="message" placeholder="How can we help?" required></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
<!-- <footer>
  <div class="footer-content">
    <p class="copyright">© 2025 Boyslope Business Solutions Private Limited</p>
    <div class="links">
      <a href="#">Terms of Service</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Report Error</a>
    </div>


    <div class="social-media">
      <p>Follow Us:</p>
      <div class="icons">
        <a href="https://x.com/Bayslopepatent/status/1423928590073098244" target="_blank"
          ><i class="bi bi-twitter"></i
        ></a>
        <a href="https://www.facebook.com/yourusername" target="_blank"
          ><i class="bi bi-facebook"></i
        ></a>
        <a href="https://www.instagram.com/bayslope" target="_blank"
          ><i style="color: #6600FF; font-weight: bolder;" class="bi bi-instagram"></i
        ></a>
        <a href="https://www.linkedin.com/company/bayslopepatentsolutions" target="_blank"
          ><i class="bi bi-linkedin"></i
        ></a>
      </div>
    </div>
  </div>
</footer> -->