/* Default color */
.hover-icon mat-icon {
  transition: color 0.2s ease; /* Smooth transition for color */
}

/* Hover color */
.hover-icon:hover mat-icon {
  color: blue; /* Change to your desired hover color */
}

.example-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: transparent;
  padding: 6px 0;
}

.example-menu-item,
.example-standalone-trigger {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
}

.example-menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.example-menu-item:active {
  background-color: rgb(170, 170, 170);
}

.example-standalone-item {
  background-color: rgb(239, 239, 239);
}
.example-standalone-item:hover {
  background-color: rgb(208, 208, 208);
}
.example-standalone-item[aria-expanded="true"] {
  background-color: rgb(208, 208, 208);
}
