<footer>
  <mat-toolbar color="primary" class="footer-toolbar">
    <div class="footer-left"></div>

    <div class="footer-center">
      <span
        >©️ 2024
        <a target="_blank" href="https://bayslope.com/">Bayslope</a> Business
        Solutions Private Limited.</span
      >
      <div class="footer-links">
        <a (click)="openSnackBar()" target="_blank">Terms of Service</a>
        <a (click)="openSnackBar()" target="_blank">Privacy Policy</a>
        <a (click)="openSnackBar()" target="_blank">Report Error</a>
      </div>
    </div>

    <div class="footer-right">
      <b>Follow us:</b>
      <div style="display: flex; flex-direction: row; gap: 20px">
        <a
          href="https://www.twitter.com"
          target="_blank"
          aria-label="Twitter"
          class="social-icon"
        >
          <img width="25px" height="25px" src="twitter.png" alt="twitter" />
        </a>
        <a
          href="https://www.facebook.com"
          target="_blank"
          aria-label="Facebook"
          class="social-icon"
        >
          <img width="20px" height="25px" src="facebook.png" alt="facebook" />
        </a>
        <a
          href="https://www.instagram.com"
          target="_blank"
          aria-label="Instagram"
          class="social-icon"
        >
          <img width="25px" height="25px" src="instagram.png" alt="instagram" />
        </a>
        <a
          href="https://www.linkedin.com"
          target="_blank"
          aria-label="LinkedIn"
          class="social-icon"
        >
          <img width="25px" height="25px" src="linkedin.png" alt="linkedin" />
        </a>
      </div>
    </div>
  </mat-toolbar>
</footer>
