<div style="
    display: grid;
    grid-template-columns: 1.45fr 4fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
  ">
  <div style="
      grid-column: 2/3;
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 15px;
      align-items: flex-start;
    ">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Quick Search</mat-label>
      <input
        matInput
        [(ngModel)]="searchInputText"
        (input)="onSearchInputText(searchInputText)"
        [placeholder]="'Quick Search'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="clearSearchTextInput()"
        *ngIf="searchInputText"
        aria-label="Clear search"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<mat-sidenav-container class="drawer-container">
  <mat-sidenav #drawer mode="side" opened>
    <mat-accordion style="height: 100vh">
      <span style="
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding-left: 10px;
          width: 30%;
        ">
        <button style="margin-right: px" mat-icon-button *ngIf="!menuIcon" (click)="drawer.toggle(); toggleIcon()">
          <span class="material-symbols-outlined">left_panel_close</span>
        </button>
        <span style="display: flex; align-items: center; gap: 8px; font-size: 16px;">
          <h4 style="font-size: 18px; font-weight: bolder; white-space: nowrap;">All Filters</h4>
        </span>
      </span>
      <br />

      <!-- Litigation Venues & Judicial Authorities -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="line-height: 20px; font-size: 14px; font-weight: bolder;">
            Litigation Venues & <br />
            Judicial Authorities
          </mat-panel-title>
        </mat-expansion-panel-header>
        <section style="display: flex; flex-wrap: wrap" *ngIf="litigationVenueOptions.length > 0">
          <mat-checkbox [checked]="selectedSources.has(item)" *ngFor="let item of litigationVenueOptions"
            (change)="onCheckboxLitigationVenueChange($event.checked, item)">
            {{ item }}
          </mat-checkbox>
        </section>
        <div style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
          " *ngIf="isLoadingFilters">
          <mat-spinner color="accent" diameter="15"></mat-spinner>
          <span style="font-size: 14px">fetching latest venues..</span>
        </div>
      </mat-expansion-panel>

      <!-- Case Status -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;"> Case Status </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="scrollable-radio-group">
          <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedCaseStatus"
            (change)="onCaseStatusChange()">
            <mat-radio-button value="All">All</mat-radio-button>
            <ng-container *ngFor="let item of caseStatusOptions">
              <mat-radio-button [value]="item">{{ item }}</mat-radio-button>
            </ng-container>
          </mat-radio-group>
        </div>
      </mat-expansion-panel>

      <!-- Case Number -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;"> Case Number </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Search</mat-label>
          <mat-chip *ngFor="let no of selectedCaseNumbers" (removed)="removeCaseNo(no)">
            {{ no }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input matInput [(ngModel)]="caseNumberInputValue"
            [matAutocomplete]="autoSearchCaseNumber" (input)="onSearchCaseNumberInput(caseNumberInputValue)" />
          <mat-autocomplete #autoSearchCaseNumber="matAutocomplete"
            (optionSelected)="selectCaseNumber($event.option.value)">
            <mat-option *ngFor="let caseNumber of filteredCaseNumbers" [value]="caseNumber">
              {{ caseNumber }}
            </mat-option>
            <mat-option *ngIf="filteredCaseNumbers.length === 0 && caseNumberInputValue" disabled>
              No results found
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-expansion-panel>

      <!-- Case History -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;"> Case History </mat-panel-title>
        </mat-expansion-panel-header>
        <label class="example-value-label" style="color: rgb(10, 9, 9)">In last {{ slider.value }} years</label>
        <mat-slider [max]="max" [disabled]="!max" [min]="min" [step]="step" [discrete]="thumbLabel"
          [showTickMarks]="showTicks" style="width: 100%">
          <input matSliderThumb [(ngModel)]="valueSlider" #slider (input)="onYearSliderChange(valueSlider)" />
        </mat-slider>
      </mat-expansion-panel>

      <!-- Case Filed Date -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;">Case Filed Date</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="filedDatePicker" #filedDateRangeInput>
            <input matStartDate placeholder="Start date" [formControl]="dateControl" />
            <input matEndDate placeholder="End date" (dateChange)="getAllCaseFilledDate(filedDateRangeInput)"
              [formControl]="dateControl" />
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="filedDatePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #filedDatePicker></mat-date-range-picker>
        </mat-form-field>
      </mat-expansion-panel>

      <!-- Case Close Date -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;">Case Close Date</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="closedDatePicker" #closedDateRangeInput>
            <input matStartDate placeholder="Start date" [formControl]="dateControlClose" />
            <input matEndDate placeholder="End date" (dateChange)="getAllCaseClosedDate(closedDateRangeInput)"
              [formControl]="dateControlClose" />
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="closedDatePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #closedDatePicker></mat-date-range-picker>
        </mat-form-field>
      </mat-expansion-panel>

      <!-- Plaintiff -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;"> Plaintiff </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Search Plaintiff</mat-label>
          <mat-chip *ngFor="let plaintiff of selectedPlaintiff" (removed)="removePlaintiff(plaintiff)">
            {{ plaintiff }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input matInput [(ngModel)]="plaintiffInputValue"
            [matAutocomplete]="autoSearchPlaintiff" (input)="onSearchPlaintiffInput(plaintiffInputValue)" />
          <mat-autocomplete #autoSearchPlaintiff="matAutocomplete"
            (optionSelected)="selectPlaintiff($event.option.value)">
            <mat-option *ngFor="let plaintiff of filteredPlaintiff" [value]="plaintiff">
              {{ plaintiff }}
            </mat-option>
            <mat-option *ngIf="filteredPlaintiff.length === 0 && plaintiffInputValue" disabled>
              No results found
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-expansion-panel>

      <!-- Defendant -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;"> Defendant </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Search Defendant</mat-label>
          <mat-chip *ngFor="let defendant of selectedDefendant" (removed)="removeDefandant(defendant)">
            {{ defendant }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input matInput [(ngModel)]="defendantInputValue"
            [matAutocomplete]="autoSearchDefendant" (input)="onSearchDefendantInput(defendantInputValue)" />
          <mat-autocomplete #autoSearchDefendant="matAutocomplete"
            (optionSelected)="selectDefendant($event.option.value)">
            <mat-option *ngFor="let defendant of filteredDefendants" [value]="defendant">
              {{ defendant }}
            </mat-option>
            <mat-option *ngIf="filteredDefendants.length === 0 && defendantInputValue" disabled>
              No results found
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-expansion-panel>

      <!-- Industry -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;"> Industry </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Search</mat-label>
          <mat-chip *ngFor="let industry of selectedIndustry" (removed)="removeIndustry(industry)">
            {{ industry }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input type="search" [(ngModel)]="industryInputValue" (input)="filterIndustry()" matNativeControl
            style="width: 100%;" />
        </mat-form-field>
        <section class="example-section">
          <mat-checkbox [checked]="selectedIndustry.has(industry)"
            (change)="onCheckboxIndustryChange($event.checked, industry)" *ngFor="let industry of filteredIndustry">
            {{ industry }}
          </mat-checkbox>
          <div *ngIf="filteredIndustry.length === 0 && industryInputValue" class="no-results">
            No results found
          </div>
        </section>
      </mat-expansion-panel>

      <!-- Tech Category -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;"> Tech Category </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Search</mat-label>
          <mat-chip *ngFor="let category of selectedTechCategory" (removed)="removeCategory(category)">
            {{ category }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input type="text" [(ngModel)]="techCategoryInputValue" (input)="filterTechCategory()" matNativeControl
            style="width: 100%;" />
        </mat-form-field>
        <section class="example-section">
          <mat-checkbox [checked]="selectedTechCategory.has(techCategory)" (change)="onCheckboxTechCategoryChange($event.checked, techCategory)"
            *ngFor="let techCategory of filteredTechCategory">
            {{ techCategory }}
          </mat-checkbox>
          <div *ngIf="filteredTechCategory.length === 0 && techCategoryInputValue" class="no-results">
            No results found
          </div>
        </section>
      </mat-expansion-panel>

      <!-- Technology Keywords -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;">Technology Keywords</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Search</mat-label>
          <mat-chip *ngFor="let keyword of selectedTechnologyKeywords" (removed)="removeKeyword(keyword)">
            {{ keyword }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input matInput [(ngModel)]="technologyKeywordInputValue"
            (focus)="filterTechnologyKeywords()" (input)="filterTechnologyKeywords()"
            placeholder="Search Technology Keywords" style="width: 100%;" />
        </mat-form-field>
        <div class="example-section">
          <mat-checkbox *ngFor="let keyword of filteredTechnologyKeywords"
            [checked]="selectedTechnologyKeywords.has(keyword)"
            (change)="onTechnologyKeywordChanged(keyword, $event.checked)">
            {{ keyword }}
          </mat-checkbox>
          <div *ngIf="filteredTechnologyKeywords.length === 0 && technologyKeywordInputValue" class="no-results">
            No results found
          </div>
        </div>
      </mat-expansion-panel>

      <!-- Court Name -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;"> Court Name </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Search</mat-label>
          <mat-chip *ngFor="let court of selectedCourtName" (removed)="removeKeyword(court)">
            {{ court }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input matInput [(ngModel)]="courtNameInputValue"
            (focus)="onSearchCourtNamesInput(courtNameInputValue)"
            (input)="onSearchCourtNamesInput(courtNameInputValue)" placeholder="Search Court Name" />
        </mat-form-field>
        <section class="example-section">
          <mat-checkbox [checked]="selectedCourtName.has(courtName)"
            (change)="onCheckboxCourtNameChange($event.checked, courtName)" *ngFor="let courtName of filteredCourtName">
            {{ courtName }}
          </mat-checkbox>
          <div *ngIf="filteredCourtName.length === 0 && courtNameInputValue" class="no-results">
            No results found
          </div>
        </section>
      </mat-expansion-panel>

      <!-- Acquisition Type -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;"> Acquisition Type </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group aria-label="Select an option" (change)="onAcquisitionTypeChange($event.value, true)">
          <mat-radio-button value="">All</mat-radio-button>
          <ng-container *ngFor="let item of acquisition_types">
            <mat-radio-button [value]="item">{{ item }}</mat-radio-button>
          </ng-container>
        </mat-radio-group>
      </mat-expansion-panel>

      <!-- Patent Type -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;"> Patent Type </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedPatentType" (change)="onPatentTypeChange()">
          <mat-radio-button value="All">All</mat-radio-button>
          <ng-container *ngFor="let item of patent_types">
            <mat-radio-button [value]="item">{{ item }}</mat-radio-button>
          </ng-container>
        </mat-radio-group>
      </mat-expansion-panel>

      <!-- Patent No. -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;"> Patent No. </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Search</mat-label>
          <mat-chip *ngFor="let patentNo of selectedpatentNo" (removed)="removePatentNo(patentNo)">
            {{ patentNo }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input type="text" matInput [(ngModel)]="patentNoInputValue"
            [matAutocomplete]="autoSearchPatentNo" (input)="onSearchPatentNoInput(patentNoInputValue)"
            placeholder="eg. 1104721, etc." />
          <mat-autocomplete #autoSearchPatentNo="matAutocomplete"
            (optionSelected)="selectPatentNo($event.option.value)">
            <mat-option *ngFor="let patentNo of filteredPatentNos" [value]="patentNo">
              {{ patentNo }}
            </mat-option>
            <mat-option *ngIf="filteredPatentNos.length === 0 && patentNoInputValue" disabled>
              No results found
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-expansion-panel>

      <!-- Cause of Action -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;">Cause of Action</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Search</mat-label>
          <mat-chip *ngFor="let action of selectedCauseOfAction" (removed)="removeactions(action)">
            {{ action }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input matInput [(ngModel)]="causeOfActionInputValue"
            [matAutocomplete]="autoSearchCauseOfAction" (input)="onSearchCauseOfActionInput(causeOfActionInputValue)" />
          <mat-autocomplete #autoSearchCauseOfAction="matAutocomplete"
            (optionSelected)="selectCauseOfAction($event.option.value)">
            <mat-option *ngFor="let causeOfAction of filteredCauseOfActions" [value]="causeOfAction">
              {{ causeOfAction }}
            </mat-option>
            <mat-option *ngIf="filteredCauseOfActions.length === 0 && causeOfActionInputValue" disabled>
              No results found
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-expansion-panel>

      <!-- Standard Essential Patent -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;">Standard Essential Patent</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedStandardPatent" (change)="onStandardPatentChange()">
          <mat-radio-button value="All">All</mat-radio-button>
          <ng-container *ngFor="let item of standardEssentialPatentArrays">
            <mat-radio-button [value]="item">{{ item }}</mat-radio-button>
          </ng-container>
        </mat-radio-group>
      </mat-expansion-panel>

      <!-- Semiconductor Patent -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 14px; font-weight: bolder;">Semiconductor Patent</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedSemiconductorpatent" (change)="onSemiconductorPatentChange()">
          <mat-radio-button value="All">All</mat-radio-button>
          <ng-container *ngFor="let item of semiconductorPatentArrays">
            <mat-radio-button [value]="item">{{ item }}</mat-radio-button>
          </ng-container>
        </mat-radio-group>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content class="abc" style="height: auto; background-color: white; margin: 0; padding: 0; overflow: visible;">
    <div class="sticky-header">
      <!-- Year Filter Buttons -->
      <div class="row d-flex g-1 justify-content-start align-items-center sticky-filter-row">
        <div class="col-2 year-filter-buttons m custom-tab-label" *ngFor="let year of years">
          <button
            [ngClass]="{ 'active': selectedYear === year }"
            (click)="selectYear(year)">
            {{ year === '' ? 'All' : year }}
          </button>
        </div>
      </div>
    </div>

    <div class="filter-chips-container" style="
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-top: 5px;
      ">
      <button *ngIf="menuIcon" style="margin-left: 10px" mat-icon-button (click)="toggleIcon(); drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
        ">
        <!-- <span style="
            padding: 10px;
            font-size: 14px;
            margin-left: 5px;
            margin-top: 5px;
            font-weight: bold;
          ">Filters</span> -->


        <p style="margin: 0; margin-left: 5px">
          <!-- Case Status Chip -->
          <mat-chip *ngIf="selectedCaseStatus !== ''" (removed)="removeFilter('status')">
            Case Status: {{ selectedCaseStatus }}
            <button matChipRemove [attr.aria-label]="'remove case status'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Litigation Venues & Judicial Authorities Chip -->
          <mat-chip *ngFor="let source of selectedSources" (removed)="removeFilter('litigationVenues', source)">
            Litigation Venue: {{ source }}
            <button matChipRemove [attr.aria-label]="'remove litigation venue'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Case History Chip (Year Slider) -->
          <mat-chip *ngIf="yearValueSelected !== undefined" (removed)="removeFilter('caseHistory')">
            Case History: Last {{ yearValueSelected }} years
            <button matChipRemove [attr.aria-label]="'remove case history'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Case Filled Date Range Chip -->
          <mat-chip *ngIf="selectedFilledStartDate && selectedFilledEndDate" (removed)="removeFilter('caseFilledDate')">
            Case Filled Date: {{ selectedFilledStartDate | date }} - {{ selectedFilledEndDate | date }}
            <button matChipRemove [attr.aria-label]="'remove case filled date'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Case Close Date Range Chip -->
          <mat-chip *ngIf="selectedClosedStartDate && selectedClosedEndDate" (removed)="removeFilter('caseClosedDate')">
            Case Close Date: {{ selectedClosedStartDate | date }} - {{ selectedClosedEndDate | date }}
            <button matChipRemove [attr.aria-label]="'remove case Close date'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Case Number Chip -->
          <mat-chip *ngFor="let caseNumber of selectedCaseNumbers" (removed)="removeFilter('caseNumber', caseNumber)">
            Case Number: {{ caseNumber }}
            <button matChipRemove [attr.aria-label]="'remove caseNumber'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Plaintiff Chip -->
          <mat-chip *ngFor="let plaintiffOrPetitioner of selectedPlaintiff" (removed)="removeFilter('plaintiffOrPetitioner', plaintiffOrPetitioner)">
            Plaintiff: {{ plaintiffOrPetitioner }}
            <button matChipRemove [attr.aria-label]="'remove plaintiffOrPetitioner'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Case Defendant Chip -->
          <mat-chip *ngFor="let defendant of selectedDefendant" (removed)="removeFilter('defendant', defendant)">
            Defendant: {{ defendant }}
            <button matChipRemove [attr.aria-label]="'remove defendant'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Case Industry Chip -->
          <mat-chip *ngFor="let industry of selectedIndustry" (removed)="removeFilter('industry', industry)">
            Industry: {{ industry }}
            <button matChipRemove [attr.aria-label]="'remove industry'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Tech Category Chip -->
          <mat-chip *ngFor="let techCategory of selectedTechCategory" (removed)="removeFilter('techCategory', techCategory)">
            Tech Category: {{ techCategory }}
            <button matChipRemove [attr.aria-label]="'remove techCategory'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Technology Keywords Chip -->
          <mat-chip *ngFor="let technologyKeywords of selectedTechnologyKeywords" (removed)="removeFilter('technologyKeywords', technologyKeywords)">
            Technology Keywords: {{ technologyKeywords }}
            <button matChipRemove [attr.aria-label]="'remove technologyKeywords'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Court Names Chip -->
          <mat-chip *ngFor="let courtNames of selectedCourtName" (removed)="removeFilter('courtNames', courtNames)">
            CourtNames: {{ courtNames }}
            <button matChipRemove [attr.aria-label]="'remove courtNames'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Acquisition Type Chip -->
          <mat-chip *ngIf="selectedAcquisitionType !== ''" (removed)="removeFilter('acquiredPatentOrOrganicPatent')">
            Acquisition Type: {{ selectedAcquisitionType }}
            <button matChipRemove [attr.aria-label]="'remove acquiredPatentOrOrganicPatent'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Patent Type Chip -->
          <mat-chip *ngIf="selectedPatentType !== ''" (removed)="removeFilter('typeOfPatent')">
            Patent Type: {{ selectedPatentType }}
            <button matChipRemove [attr.aria-label]="'remove typeOfPatent'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Patent No Chip -->
          <mat-chip *ngFor="let patentNo of selectedpatentNo" (removed)="removeFilter('patentNo', patentNo)">
            Patent No: {{ patentNo }}
            <button matChipRemove [attr.aria-label]="'remove patentNo'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Cause of Action Chip -->
          <mat-chip *ngFor="let causeOfAction of selectedCauseOfAction" (removed)="removeFilter('causeOfAction', causeOfAction)">
            Cause Of Action: {{ causeOfAction }}
            <button matChipRemove [attr.aria-label]="'remove causeOfAction'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Standard Essential Patent Chip -->
          <mat-chip *ngFor="let standardEssentialPatent of selectedStandardEssentialPatent" (removed)="removeFilter('standardEssentialPatent', standardEssentialPatent)">
            Standard Essential Patent: {{ standardEssentialPatent }}
            <button matChipRemove [attr.aria-label]="'remove standardEssentialPatent'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <!-- Semiconductor Patent Chip -->
          <mat-chip *ngFor="let semiconductorPatent of selectedSemiconductorPatent" (removed)="removeFilter('semiconductorPatent', semiconductorPatent)">
            Standard Essential Patent: {{ semiconductorPatent }}
            <button matChipRemove [attr.aria-label]="'remove semiconductorPatent'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </p>
      </div>
    </div>

    <div>
      <mat-tab-group [selectedIndex]="tabIndex" mat-stretch-tabs="false" mat-align-tabs="center"
        style="width: 100%; height: auto">
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="custom-tab-label" style="font-weight: bolder; font-size:18px;">CaseList</span>
          </ng-template>
          <div *ngIf="loader" style="
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-top: 30px;
              height: 140vh;
            ">
            loading litigation cases..
          </div>
          <div class="table-scroll-container" style="overflow-x: scroll; width: 100% ; display: block; overflow-y: hidden; border-bottom: 1px solid #ccc; ">
          <table
          mat-table
          *ngIf="!loader"
          [dataSource]="tabledata"
          class="mat-elevation-z8"
          style="
            display: block;
            height: 257px;
            overflow-y: auto;
            overflow-x:scroll;
            margin: 0;
            padding: 0 10px;
            position: relative;
          "
        >
          <!-- Sr. No. Column -->
          <ng-container matColumnDef="srNo">
            <th mat-header-cell *matHeaderCellDef class="no-wrap sticky-header">Sr. No.</th>
            <td mat-cell *matCellDef="let element; let i = index" class="no-wrap">
              {{ (paginator.pageIndex * paginator.pageSize) + i + 1 }}
            </td>
          </ng-container>
          <!-- Case Date Column -->
          <ng-container matColumnDef="caseComplaintDate">
            <th mat-header-cell *matHeaderCellDef class="sticky-header">Case Date</th>
            <td mat-cell *matCellDef="let element" class="no-wrap">
              {{ formatDate(convertToDate(element.complaint_date)) }}
            </td>
          </ng-container>
          <!-- Case Number Column -->
          <ng-container matColumnDef="caseNumber">
            <th mat-header-cell *matHeaderCellDef class="sticky-header">Case Number</th>
            <td mat-cell *matCellDef="let element" class="no-wrap">
              <a
                (click)="onSelectCaseNumber(element.case_no); $event.stopPropagation()"
                style="cursor: pointer; color: blue"
                class="no-wrap"
              >
                {{ element.case_no || 'NA' }}
              </a>
            </td>
          </ng-container>
          <!-- Case Name Column -->
          <ng-container matColumnDef="caseName">
            <th mat-header-cell *matHeaderCellDef class="no-text sticky-header">Case Name</th>
            <td
              mat-cell
              *matCellDef="let element"
              class="wrap-text2"
              [innerHTML]="element.case_name | caseNameHighlight:6"
            ></td>
          </ng-container>
          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="sticky-header">Status</th>
            <td mat-cell *matCellDef="let element" class="no-wrap">
              {{ element.case_status || "NA" }}
            </td>
          </ng-container>
          <!-- Court Column -->
          <ng-container matColumnDef="court_name">
            <th mat-header-cell *matHeaderCellDef class="sticky-header">Court Name</th>
            <td mat-cell *matCellDef="let element" class="no-wrap">
              {{ element.court_name || "NA" }}
            </td>
          </ng-container>
          <!-- Venue Column -->
          <ng-container matColumnDef="venue">
            <th mat-header-cell *matHeaderCellDef class="no-wrap sticky-header">Litigation Venues</th>
            <td mat-cell *matCellDef="let element" class="no-wrap">
              {{ element.litigation_venues || "NA" }}
            </td>
          </ng-container>
          <!-- Win Prediction Column -->
          <ng-container matColumnDef="winningPrediction">
            <th mat-header-cell *matHeaderCellDef class="no-wrap sticky-header">Win Prediction</th>
            <td mat-cell *matCellDef="let element" class="no-wrap">
              <div
                style="
                  position: relative;
                  width: 32px;
                  height: 32px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "
              >
                <mat-progress-spinner
                  [diameter]="32"
                  [mode]="'determinate'"
                  [value]="100"
                  color="accent"
                  style="position: absolute"
                ></mat-progress-spinner>
                <mat-progress-spinner
                  [diameter]="32"
                  [mode]="'determinate'"
                  [value]="winningPercentage || 0"
                  color="primary"
                  style="position: absolute"
                ></mat-progress-spinner>
                <span style="position: absolute; font-size: 10px; font-weight: 500">
                  {{ (winningPercentage || 0) | number:'1.0-0' }}%
                </span>
              </div>
            </td>
          </ng-container>
          <!-- Related Cases Column -->
          <ng-container matColumnDef="relatedCases">
            <th mat-header-cell *matHeaderCellDef
              style="font-weight: bolder; position: sticky; top: 0; background-color: white; z-index: 1;"
              class="no-wrap">Similar Cases</th>
            <td mat-cell *matCellDef="let element" class="no-wrap">
              <ng-container *ngIf="element.similar_cases && element.similar_cases.length > 0; else noCases">
                <ng-container *ngFor="let relatedCase of element.similar_cases; let i = index">
                  <a (click)="onSelectCaseNumber(relatedCase.case_no); $event.stopPropagation()"
                    style="cursor: pointer; color: blue;" class="no-wrap"
                    matTooltip="Matched by: {{ relatedCase.match_reasons.join(', ') }}" matTooltipPosition="above">
                    {{ relatedCase.case_no }}
                  </a>
                  <span *ngIf="i < element.similar_cases.length - 1">, </span>
                </ng-container>
              </ng-container>
              <ng-template #noCases>
                NA
              </ng-template>
            </td>
          </ng-container>

          <!-- Table Header and Row Definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="sticky-header-row"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        </div>

        <div *ngIf="!loader && tabledata.length === 0" style="
        height: 60vh;
        width: 100%;
        margin-bottom: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    " class="no-results">
      {{ searchInputText ? 'No results found for "' + searchInputText + '"' : 'No result to display' }}
    </div>

          <mat-paginator [pageSize]="20" showFirstLastButtons [length]="totalCount"></mat-paginator>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <span class="custom-tab-label" style="font-weight: bolder;font-size:18px;">Analytics</span>
          </ng-template>
          <div>
            <app-analytics 
              [filterDataForAnalytics]="filterDataForAnalytics" 
              [excelData]="excelData2">
            </app-analytics>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <span class="custom-tab-label" style="font-weight: bolder; font-size:18px;">Predictions & Recommendations</span>
          </ng-template>
          <div style="height: 150vh; margin: 20px">
            Coming soon..
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <span class="custom-tab-label" style="font-weight: bolder; font-size:18px;">Database</span>
          </ng-template>
          <div style="height: 150vh; margin: 20px">Coming soon..</div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <span class="custom-tab-label" style="font-weight: bolder; font-size:18px;">Reports</span>
          </ng-template>
          <div style="height: 150vh; margin: 20px">Coming soon..</div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>