.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

  .logo img {
    height: 50px;
  }
  nav {
    a {
      margin: 0 15px;
      font-weight: 500;
      text-decoration: none;
      color: #333;
      cursor: pointer;
      font-weight: bolder;

      &.btn-login {
        border: 1px solid #333;
        padding: 6px 16px;
        border-radius: 4px;
        // background-color: #6600ff;
      }

      &:hover {
        color: #6600ff;
      }
    }
  }
}
// @import url('https://fonts.googleapis.com/css2?family=Tenorite:wght@400;600&display=swap');

$primary: #6600ff;
$font: 'Tenorite', sans-serif;

:host {
  font-family: $font;
  display: block;
  overflow-x: hidden;
}

/* HERO */
.hero-wrapper {
  background: linear-gradient(145deg, #f4eeff 0%, #e1d8ff 100%);
  padding: 130px 20px;
  text-align: center;

  h1 {
    color: $primary;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #333;
  }
  button {
    background: $primary;
    color: #fff;
    padding: 12px 36px;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-family: $font;
    transition: 0.3s;
    &:hover {
      transform: translateY(-2px);
      opacity: 0.9;
    }
  }
}

/* Sections */
section {
  padding: 80px 20px;
  text-align: center;

  h2 {
    // font-size: 34px;
    color: $primary;
    // margin-bottom: 20px;
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
    font-weight: bolder;
    // text-align: left;
  }
  p {
    max-width: 800px;
    margin: 0 auto;
    color: #555;
  }
}

/* Feature icons+cards */
.features .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
}
.features .box {
  background: #fff;
  border-radius: 12px;
  padding: 28px;
  max-width: 260px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  mat-icon {
    font-size: 40px;
    color: $primary;
    margin-bottom: 14px;
  }
  h3 {
    color: $primary;
    margin-bottom: 10px;
    font-weight: bolder;
  }
}

/* WHY US */
.why .badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 25px;
}
.badge {
  background: rgba($primary, 0.1);
  color: $primary;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 21px;
}

/* PLANS PRICING */
.plans .plan-cards {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.plan {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.07);
  max-width: 240px;
  h3 {
    margin-bottom: 10px;
    color: $primary;
  }
  &.popular {
    border: 2px solid $primary;
    transform: scale(1.06);
  }
}

/* COMING SOON */
.coming-soon {
  background: #f5f5f8;
}




