.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

  .logo img {
    height: 50px;
  }
  nav {
    a {
      margin: 0 15px;
      font-weight: 500;
      text-decoration: none;
      color: #333;
      cursor: pointer;
      font-weight: bolder;

      &.btn-login {
        border: 1px solid #333;
        padding: 6px 16px;
        border-radius: 4px;
        // background-color: #6600ff;
      }

      &:hover {
        color: #6600ff;
      }
    }
  }
}